
<h1>Complaint details</h1>
<table>
  <tr>
    <th>Complaint ID</th>
    <% if current_user %>
      <th>Mobile</th>
    <% end %>
    <th>Name</th>
    <th>Location</th>
    <th>Type</th>
    <th>Status</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Photo URL</th>
  </tr>

  <% @complaints.each do |c| %>
  <tr>
    <td> <%= c.reference_id %> </td>
    <% if current_user %>
      <td> <%= c.mobile %> </td>
    <% end %>
    <td> <%= c.name %> </td>
    <td> <%= c.location %> </td>
    <td> <%= c.complaint_type %> </td>
    <td> <%= c.status %> </td>
    <td> <%= c.latitude %></td>
    <td> <%= c.longitude %></td>
    <td> <%= c.photo_url %></td>
    <td> <%= link_to 'Show', c %></td>
  </tr>
  <% end %>
  </table>
<p>

</p>
<%= link_to 'Register a complaint', new_complaint_path %>

