
<br />
<form id="show">
<table border="1">
<tr>
  <td class="key">Complaint ID</td>
  <td> <%= @complaint.reference_id %> </td>
</tr>
<% if current_user %>
<tr>
  <td class="key">Mobile</td>
  <td> <%= @complaint.mobile %> </td>
</tr>
<% end %>
<tr>
  <td class="key">Location</td>
  <td> <%= @complaint.location %> </td>
</tr>
<tr>
  <td class="key">Complaint Type</td>
  <td> <%= @complaint.complaint_type %> </td>
</tr>
<tr>
  <td class="key">Status</td>
  <td> <%= @complaint.status %> </td>
</tr>
<tr>
  <td class="key">Latitude</td>
  <td> <%= @complaint.latitude %> </td>
</tr>
<tr>
  <td class="key">Longitude</td>
  <td> <%= @complaint.longitude %> </td>
</tr>
<tr>
  <td class="key">Photo URL</td>
  <td>
	<% if @complaint.photo_url == nil || @complaint.photo_url == "No Photo Attached" %>
		No Photo Attached
	<% else %>
		<a href='<%= @complaint.photo_url %>' />
	<% end %>
  </td>
</tr>
</table>
<br />
<% if current_user %>
<%= link_to "Close", @complaint, :method => :delete, :action => 'destroy'%>
<% end %>
</form>
<%= link_to 'Back', complaints_path %> 
