<h1>Complaint details</h1>
<table>
  <tr>
    <th>Complaint ID</th>
    <th>Mobile</th>
    <th>Name</th>
    <th>Location</th>
    <th>Type</th>
    <th>Status</th>
  </tr>

  <% @complaints.each do |c| %>
  <tr>
    <td> <%= c.reference_id %>
    <td> <%= c.mobile %>
    <td> <%= c.name %>
    <td> <%= c.location %>
    <td> <%= c.complaint_type %>
    <td> <%= c.status %>
  </tr>
  <% end %>
  </table>
<p>

</p>
