<table>
<tr>
  <td> <%= @complaint.reference_id %> </td>
</tr>
<tr>
  <td> <%= @complaint.mobile %> </td>
</tr>
<tr>
  <td> <%= @complaint.location %> </td>
</tr>
<tr>
  <td> <%= @complaint.complaint_type %> </td>
<tr>
</tr>
  <td> <%= @complaint.status %> </td>
</tr>
</table>
